body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(16, 20, 41);
}
.content {
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
}

textarea {
  width: 60%;
  height: 2rem;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.record-btn {
  padding: 0.8rem;
  border-radius: 30px;
  font-size: 1.2rem;
  transition: all 300ms ease;
}

.record-btn:hover{
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}
.response-area{
  background-color: antiquewhite;
}
.response-area p {
  color: black;
}