.main-section {
  margin: 0;
  /* padding: 0; */
  display: flex;
  /* width: 100vw; */
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-color: rgb(16, 20, 41);
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/arabesque.png"); */

  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
 /* padding-top: auto; */
  /* padding-bottom: auto; */
}
.content {
  text-align: center;
  width: 80%;
}

.content h2 {
  color: #f4eee0;
  /* color: #DAFFFB; */
  font-size: 2rem;
  margin-bottom: 3rem;
  padding-top: 0;
}

.record-btn {
  padding: 0.8rem;
  border-radius: 1.2rem;
  font-size: 1.1rem;
  transition: all 300ms ease;
  background-color: #474e68;
  border: transparent;
  color: #f4eee0;
}

.record-btn:hover {
  cursor: pointer;
  background-color: #373e55;
}
.response-area {
  background-color: rgba(0, 0, 0, 0.329);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  /* height: 3rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  /* margin-top: 6rem;  */
  margin-bottom: 3rem;
}
.response-area p {
  color: rgb(194, 194, 194);
  font-size: 1.2rem;
}
body #prompt-text-area {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.15),
    0 0 30px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05);
  width: 70%;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: none;
  /* height: 3rem; */
  background-color: #31364b;
  color: #f4eee0;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 80% !important; */
}

body #prompt-text-area:focus {
  outline: none; /* Remove the outline when the textarea is focused */
  border-color: #ccc; /* Add a border color when the textarea is focused */
}

body #prompt-text-area:read-only {
  border-color: transparent; /* Remove the border when the textarea is read-only */
}

#prompt-text-area {
  width: 100%;
  font-size: 1rem;
}

.recording-btns {
  display: flex;
  justify-content: space-around;
  /* gap: 8rem; */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .content {
    /* text-align: center; */
    width: 100%;
  }

  body #prompt-text-area {
    width: 85%;
  }
  .response-area {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    /* text-align: center; */
    width: 100%;
  }

  .recording-btns {
    flex-direction: column;
    width: 45%;
    gap: 2rem;
  }

  body #prompt-text-area {
    width: 85%;
    font-size: 1rem;
  }
  .response-area {
    width: 90%;
  }

  .response-area p {
    font-size: 1rem;
  }
}
